@import '/home/yowls/.cache/qtile.scss';
//@use '/home/yowls/.cache/qtile.scss';

// Unsets everything so you can style everything from scratch
* {
	all: unset;
}

// Global Styles
window {
	background-color: $bg;
	color: $fg;
	border-radius: 8px;
	font-family: Iosevka;
}
button {
	all: unset;
	background-color: $bg;
	padding: 10px;
}


// Clock widget
.time {
	padding: 10px 15px 0px 15px;
	font-weight: bold;
	font-size: 48px;
}
.date {
	font-weight: normal;
	font-size: 22px;
}

// Others
.sidestuff slider {
	all: unset;
	color: #ffd5cd;
}

.slider-vol scale trough highlight {
 	all: unset;
 	background-color: #D35D6E;
 	color: #000000;
 	border-radius: 10px;
}
.slider-vol scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 50px;
	min-height: 3px;
	min-width: 50px;
	margin-left: 10px;
	margin-right: 20px;
}
.slider-ram scale trough highlight {
	all: unset;
	background-color: #D35D6E;
	color: #000000;
	border-radius: 10px;
}
.slider-ram scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 50px;
	min-height: 3px;
	min-width: 50px;
	margin-left: 10px;
	margin-right: 20px;
}

.label-ram {
	font-size: large;
}

.workspaces button:hover {
	color: #D35D6E;
}
